ion-content{
    --background:linear-gradient( rgba(255, 251, 251,0) 1.48%, rgba(0, 0, 0, 0) 12.52%, rgb(0, 0, 0) 95.52%) ,url('../../../../assets/diet.jpg');
    --background-size:auto;
    --text-align:center;
}