<ion-content>
    <div class="sk-chase" *ngIf="showSpinner == true">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>

  <ng-container *ngIf="showSpinner==false">
    <div *ngFor="let coach of coaches"> 
      <ion-item class="prods" expand="block">
        <ion-avatar ion-start button [routerLink]="['/coach-profile', coach.uid]" style="width: 60px; height: 60px;">
          <img class="picture" src="{{coach.avatar}}">
        </ion-avatar>
        <ion-label button [routerLink]="['/coach-profile', coach.uid]">
         <h2><b>{{coach.name}}</b></h2>
         <p>{{coach.mail}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ng-container>
</ion-content>
