ion-content{
    margin: 0;
    padding: 0;
    --background: white;
    --text-align:center;
  }

  .no-messages{
    text-align: center;
    color: #b3b8cd;
    margin-top: 5%;
  }
  
.chatDetails{
    margin-left:10%;
    width:100%;
}

.message{
    color:grey;
}

.date{
    position:absolute;
    right: 5%;
    color:grey;
    font-size: 0.8em;
}






