
<ion-content class="ion-padding">

  <ion-back-button defaultHref="/login" color="primary">
  </ion-back-button>
  <h1>¿Quiénes somos?</h1>
  <p>Fitness Mate es un proyecto que nace de la aparente necesidad que existe en el mundo del deporte de 
  capitalizar los servicios que ofrecen los entrenadores personales de manera que estos puedan ofrecer sus servicios 
  de una manera sencilla e intuitiva a sus clientes.
  Desarrollada por Oliver Álamo Holm junto con la ayuda de su tutor, Luis Miguel Hernández, y la Escuela de Ingeniería 
  Informática de la ULPGC.
  </p>

  <p  class="politics" routerLink="/terms">Políticas y términos de uso</p>

</ion-content>
