<ion-content class="ion-padding">
  <div class="container">
    <ion-back-button defaultHref="/tabs/coachClients" color="primary">
    </ion-back-button>

    <ion-list lines="none">
      <ion-avatar class="avat">
        <img src={{avatar}}>
      </ion-avatar>
           <br>
      <ion-label class="name">
        {{name}} {{lastName}}     
      </ion-label> 
      <br>     
      <ion-label class="plan">
        Plan {{plan}}
      </ion-label> 
    </ion-list>
    <div class="sm">
      <ion-icon  button (click)="changeTab(1)" name="barbell"></ion-icon>
      <ion-icon  button (click)="changeTab(2)" name="fast-food"></ion-icon>
      <ion-icon  button (click)="changeTab(3)" name="body"></ion-icon>
    </div>

    <ion-button class="contact-btn" (click)="goToMessaging()">Mensaje</ion-button>

    <ng-container *ngIf="tabSelector==1" class="foot-content">
      <h1>Rutina</h1>
      <div class="center">
        <ion-slides #slides pager="true">
          <ion-slide class="stepOne" *ngFor="let day of routine">
            <ion-card>
              <ion-card-title>
                {{day.name}}
              </ion-card-title>
              <ion-card-subtitle>
                {{day.muscles | slice:0:-1}}
              </ion-card-subtitle>
              <ion-card-content>
                <ion-list>
                  <ng-container *ngFor="let ex of day.plan">
                      <li *ngIf="ex.notes.length > 0">{{ex.name}} {{ex.series}}x{{ex.reps}} <button class="notesButton" (click)="openNoteModal(ex.notes)" color="light">N</button></li>
                      <li *ngIf="ex.notes.length == 0">{{ex.name}} {{ex.series}}x{{ex.reps}} </li>
                  </ng-container>
                </ion-list>
                <ion-button (click)="openPlan(day.number)" expand="block" class="contact-btn">Editar Rutina</ion-button>
                <br>
                .
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </ng-container>

    <ng-container *ngIf="tabSelector==2" class="foot-content">
      <h1>Dieta</h1>
      <div class="center">
        <ion-slides #slides pager="true">
          <ion-slide class="stepOne" *ngFor="let d of diet">
            <ion-card>
              <ion-card-title>
                {{d.name}}  
              </ion-card-title>
              <ion-card-subtitle>
                {{d.totalCals | number  :'1.0-0'}} calorias
                <br>
                {{d.totalProts |  number  :'1.0-0'}} gr de Proteina
                <br>
                {{d.totalCarbs |  number  :'1.0-0'}} gr de Hidratos
                <br>
                {{d.totalFat |  number  :'1.0-0'}} gr de Grasa
                
              </ion-card-subtitle>
              <ion-card-content>
                <ng-container *ngFor="let plan of d.plan">
                  <b>{{plan.name}} </b>   <button class="macrosButton" button (click)="openMacrosModal(plan)">M</button> <br>
                  <!--<b>{{plan.hour.toDate() | date: 'shortTime'}}</b>-->
        
                  <li *ngFor="let food of plan.meal">
                    {{food.name}} - {{food.cuantity}} gr/ml                 
                  </li>   
                  -----------------------------------
                <br>  
                </ng-container>
                <ion-button (click)="openDiet(d.number)" expand="block" class="contact-btn">Editar</ion-button>
                <br>
                .
              </ion-card-content>
            </ion-card> 
          </ion-slide>
        </ion-slides>
      </div>
    </ng-container>

    <ng-container *ngIf="tabSelector==3" class="foot-content">
      <h1>Progresos</h1>
      <ion-slides #slides pager="true" [options]="slideOpts">
        <ion-slide class="stepOne" *ngFor="let p of progress" >
          <ion-card class="progressCards">
            <br>
            <ion-button (click)="deleteProgress(p)" class="delete-btn">
            <ion-icon name="trash"></ion-icon>
            </ion-button>
            <h1  style="font-size: 20px;">{{p.date}}</h1>
            <div class="progressParams" *ngIf="p.weight != null">Peso: {{p.weight}}</div>
            <div class="progressParams" *ngIf="p.fat != null">Grasa: {{p.fat}} %</div>
            <div class="progressParams" *ngIf="p.muscleMass != null">Masa Muscular: {{p.muscleMass}} kg</div>
            <div class="progressParams" *ngIf="p.text!= null">{{p.text}}</div>
            <br>
            <ion-card-content>
              <ion-slides>
                <ion-slide *ngFor="let image of p.image">
                  <img class="prog-image" src={{image}} button (click)="openImageModal(p.image)">
                </ion-slide>
              </ion-slides>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <br>
      <ion-button style="align-items: center;" (click)="openM()" class="contact-btn">Nueva Entrada</ion-button>
    </ng-container>
  </div>
</ion-content>