ion-card{
  display: flex;
  flex-direction: column;
  width: 90% !important;
  margin: 10 !important;
  border-radius: 10px;
}

  ion-back-button{
    color:white;
    margin-right: 80%;
  }

  ion-card-title{
    margin-top:1em;
    font-size: 2.5em;
    color:black;
  }

  ion-card-subtitle{
    font-size: 1.5em;
    color:white;
  }

  ion-card-content {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
  }

  ion-item{
    font-size:1.5em;
  }

  h1{
    color:white;
    text-align: center;
  }

  .macrosButton{
    margin-left: 1%;
    text-decoration:none;
    color:white;
    background-color: grey;
    border-radius: 5px;
    width:9%;
    height: 18px;
  }

  ion-content{
    --background:linear-gradient( rgba(255, 251, 251,0) 1.48%, rgba(0, 0, 0, 0) 12.52%, rgb(0, 0, 0) 95.52%) ,url('../../../../assets/diet.jpg');
    --background-size:auto;
    --text-align:center;
}

