
<ion-content class="ion-padding">
  
  <div class="container">
    <ion-back-button defaultHref="/register" color="primary">
    </ion-back-button>

    <h1>Información general</h1>
    <p>
      El acceso y el uso de esta aplicación es responsabilidad total del usuario, 
      que está sujeto a la aceptación de los presentes términos y condiciones de 
      uso, de la política de privacidad y el uso de los datos aquí transcritos. 
      El uso de esta aplicación y las relaciones entre FitnessMate y los usuarios se rigen 
      por la legislación española aplicable.
    </p>

    <h1>Privacidad y uso de datos</h1>
    <p>
      FitnessMate es responsable por el uso de la información personal de los usuarios 
      recogida directamente a través de diversos medios. 
      FitnessMate se compromete a poner en práctica las medidas técnicas y organizativas 
      adecuadas para proteger los datos personales de sus usuarios contra su destrucción, 
      accidental o ilícita, pérdida accidental, modificación, divulgación o acceso no autorizado.
      Se considera la aplicación de un nivel de seguridad acorde con los riesgos que implica el
       uso dada la naturaleza de los datos a proteger.
      Por tanto, FitnessMate puede recoger y guardar información que le haya sido suministrada de 
      manera voluntaria y con consentimiento, incluyendo, entre otros, información personal 
      individualizada, como el nombre, dirección de correo electrónico y el número de teléfono.
      Los datos proporcionados por los usuarios serán utilizados por FitnessMate de conformidad con los preceptos legalmente aplicables, en particular:<br>
      a) Utilizados de forma lícita y respetando el principio de buena fe;<br>
      b) Recogidos con fines determinados, explícitos y legítimos, no pudiendo ser utilizados posteriormente;<br>
      c) Exactos y, de ser necesario, actualizados, debiendo tomarse las medidas adecuadas para asegurar que sean eliminados o rectificados los datos inexactos o incompletos, teniendo en cuenta el fin para el que fueron recogidos o para los que son tratados posteriormente;<br>
      d) Conservados para permitir la identificación de sus titulares solamente durante el período necesario para alcanzar los fines de recogida o uso posterior. <br>
    </p>

    <h1>Seguridad y uso de la información</h1>

    <p>FitnessMate se compromete a garantizar la privacidad de los usuarios registrados. 
      FitnessMate no vende ni alquila a terceros cualquier dato personal enviado por los usuarios registrados.
      A pesar de los esfuerzos de FitnessMate para proteger sus datos personales,
       una vez que estos son recogidos a través de una red abierta como Internet, 
       los mismos solamente podrán circular en la red sin condiciones de seguridad,
        corriendo el riesgo de ser vistos y utilizados por terceros no autorizados.</p>


        <h1>Contenidos y garantías</h1>

        <p>
          El usuario acepta que el uso de esta aplicación debe hacerse bajo su propia cuenta y riesgo.
           En la medida en que lo permita la ley, FitnessMate, está exenta de cualquier garantía, expresa o implícita,
            con respecto al uso de FitnessMate. FitnessMate no garantiza la veracidad o exactitud de los contenidos 
            disponibles en sus páginas y no asume ninguna responsabilidad u obligación por cualquier (1) 
            error o contenido poco preciso, (2) daño personal o daño a la propiedad de cualquier naturaleza 
            que resulte del acceso y uso de las páginas de esta aplicación, (3) acceso no 
            autorizado o uso de nuestros servidores seguros o de información personal o financiera almacenada 
            en ellos, (4) interrupción o cese de la transmisión desde o hacia la aplicación (5) error, 
            virus, troyano o similar que pueda ser transmitido hacia o a través de la aplicación, o (6) error u 
            omisión en el contenido o cualquier pérdida o daño que se haya producido como resultado del uso de 
            contenidos publicados, enviados, transmitidos o puestos a disposición a través de la aplicación, (7) 
            la no disponibilidad o cualquier dificultad o incapacidad de descargar o acceder al contenido o 
             otra falla en el sistema de comunicación que pueda resultar en la no disponibilidad de la aplicación. 
             FitnessMate no será responsable de cualquier asistencia o mantenimiento de la aplicación.
        </p>
  </div>
  
</ion-content>