ion-content{
    text-align: center;
    margin-top: 20%;
    
}
h1{
    margin-top: 10%;
    color:#03bfbc;
    font-size: 40px;
}
p{
    font-size: 20px;
    color:#03bfbc;;
}

img{
    width:30%;
}