ion-tab-bar{
    overflow-x: scroll;
    justify-content: left;
}


.athlete-tab ion-tab-button[aria-selected=true]{
  color: #03bfbc;
  border: 2px solid #03bfbc;
  border-radius: 6px;
    

}



.athlete-tab ion-badge{
    background: #03bfbc;

}

.athlete-tab ion-badge:hover{
    background: black;

}

.coach-tab ion-tab-button[aria-selected=true]{
  color:#03bfbc;
  border: 2px solid#03bfbc;
  border-radius: 6px;


}

.coach-tab ion-badge{
    background: #03bfbc;


}

ion-content{
    --background:#ffffff;
}


.spinner {
    width: 90px;
    height: 90px;
  
    position: relative;
    margin: 100px auto;
    margin-top: 55%;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #03bfbc;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce12, .double-bounce21 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #03bfbc;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }


